<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/main.css">
</head>
<body>

    <div class="container">
        <nav>
            <ul class="nav">
                <li>Home</li>
            </ul>
        </nav>
            <h1><%= title %> </h1>
    </div>
    
</body>
</html>