<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/main.css">
    <style>
    #login {
        width:30%;
        margin: 12% auto;
        min-width: 250px;
        max-width: 300px;
    }
    </style>
</head>
<body>
    <%- include('header'); %>
    <div class="container-fluid">
        <div id="login" class="card">
                <div class="card-header">
                  LOGIN
                </div>
                <div class="card-body">
                  <a class="btn btn-danger btn-block" href="/auth/google">Google + </a>
                  <a class="btn btn-primary btn-block" href="/auth/facebook">Facebook</a>
                  <a class="btn btn-dark btn-block" href="/auth/github">Github</a>
                </div>
        </div>
    </div>
    
</body>
</html>